* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  list-style: none;
  font-size: 50px;
  color: white;
}

body {
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
/* ------------------HEADER-------------------------------------------------- */
header {
  display: flex;
  justify-content: center;
}

audio {
  background-color: navy;
  color: red;
  border-radius: 10px;
}
/* -----------------------MAIN----------------------------------------------- */

main {
  display: flex;
  justify-content: center;
  height: 100vh;
  line-height: 100vh;
}

.left-arrow .fa-chevron-left {
  padding-right: 50px;
  color: red;
}

.right-arrow .fa-chevron-right {
  padding-left: 50px;
  color: red;
}

.photos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

.picture {
  width: 800px;
  height: 500px;
  border-radius: 10px;
  display: none;
}

.active {
  display: block;
}
