* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  list-style: none;
  font-size: 50px;
  color: white;
}

body {
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
/* -------------HEADER--------------------------- */

header {
  height: 50px;
  display: flex;
  justify-content: center;
  position: relative;
}

button {
  height: 50px;
  padding: 15px 40px 15px 40px;
  background-image: url(../img/tartan1.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
  border-radius: 5px;
  border: 0px;
}

#playPauseBTN {
  position: absolute;
  left: 750px;
  top: 35px;
}

#stopMusicBTN {
  position: absolute;
  right: 750px;
  top: 35px;
}

/* -----------------------MAIN------------------------------------- */

main {
  display: flex;
  justify-content: center;
  height: 100vh;
  line-height: 100vh;
}

.left-arrow .fa-chevron-left {
  padding-right: 50px;
}

.right-arrow .fa-chevron-right {
  padding-left: 50px;
}

.photos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

.picture {
  width: 800px;
  height: 500px;
  border-radius: 10px;
  display: none;
}

.active {
  display: block;
}
